.image-wrapper {
  width: 100%;
}

.image-wrapper > img {
  width: 80%;
}

#container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.tile {
  border-style: solid;
  border-width: 1px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}